@CHARSET "ISO-8859-1";

a {
	color: black;
}

center {
	width: 1000px;
	margin: auto;
}

#page {
	width: 100%;
	height: 100%
}

header {
	background-color: cadetblue;
}

header .title {
	font-size: xx-large;
	padding: 10px
}

footer {
	text-align: center;
	background-color: antiquewhite;
}

.sidebar {
	width: 20%;
	background-color: lavender;
	padding: 10px;
}

.sidebar table {
	border: 1px solid;
	width: 100%;
	margin: 10px 0;
}

.sidebar th {
	background-color: #CDCDCD;
	padding: 10px;
}

.sidebar td {
	padding: 5px;
}

.content {
	background-color: gray;
	width: 80%;
}

.center {
	width: 1000px;
	margin: auto;
}